 body{
  background:#B3B3B3;
  margin:2%;
  font-size: 150%;

}

header{
  background: -webkit-linear-gradient(#00b7ea 0%, #00b7ea 100%);
  text-align: center;
  padding-bottom: 15px;
}
header, footer{
  background: #666666;
  background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
  background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
  background: linear-gradient(#666666 0%, #00b7ea 100%); 

}

h1{
  color: #ffffff;
}

nav{
  font-variant: small-caps;
  font-family: Arial, "Times New Roman", serif;
  font-size: 150%;
}

h2{
  color: #666666;
  background: #00b7ea;
}

.half{
  width:39.2%;
  margin-right: 2%;
  display:inline-block;
  float:left;
}
.whole{
  clear: both;
}
summary{
  font-style:normal;
}

details{
  font-style: italic;
}

footer{
  clear: both;
}

img{
  width: 75px;
}

nav a{
  display: inline-block;
  color: white;
  background: blue;
  text-align: center;
  width: 19%;
  padding: 2%;
  margin: 0 auto;
  border-radius: 10px;
  transition-property: width:
  transition-duration: .1s;
  transition-timing-function: linear;
  transition-delay: .1s; 

}
section img{
  height: 300px;
  width: 225px;
  padding: 2%;
  float: right;
  padding-right: 0%;
}
a:hover{
  background: grey;
  width: 22%;
  color: red;
  border-radius: 0;
}
a:focus{
  background: grey;
  color: red;
}
a:active{
  border: 2px outset;
}
ul{
  list-style-type: upper-alpha;
}
